{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        <!-- List the todo items here -->
        {% for item in to_do_list %}
          <li>{{item.id}} - {{item.status}} - {{item.title}}
        {% endfor %}
      </ul>
    </div>
  </div>
  
  <form method="post" action="/add" >
    <label>Task:
      <input name="task_title" type="text" required>
    </label>
    <button>Add</button>
  </form>
  
  <form me  <form method="post" action="/complete" >
    <label>Task:
      <input name="task_to_complete_by_title" type="text" required>
    </label>
    <button>Complete</button>
  </form>
  
  <form method="post" action="/delete" >
    <label>Task:
      <input name="task_to_delete_by_title" type="text" required>
    </label>
    <button>Delete</button>
  </form>
  
{% endblock %}
